.container-works {
  max-width: 65vw;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 0rem;
}

.full-row-left {
  padding-right: .8rem;
}

.full-row-right {
  padding-left: .8rem;
}

.full-row-img {
    width: 45vw;
    height: 40vh;
    aspect-ratio: 5 / 2;
    overflow: hidden;
    object-fit: cover;
    display: block;
    width: 100%;
}
    

.full-width-row {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}