body {
  background-color: #F3F3F3;
  background-image: url('./assets/bg_squiggle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}