body {
  background-color: #F3F3F3;
  background-image: url('./assets/bg_squiggle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container-home {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 3rem;
}

.row-home {
  margin-bottom: -5vh;
}

.home-image {
  width: 100%;
  max-height: 55%;
  overflow: hidden;
  margin: 0 auto;
  object-fit: cover;
}