.container-home {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 4rem;
}

.home-image {
  width: 100%;
  aspect-ratio: 4 / 2.5;
  overflow: hidden;
  margin: 0 auto;
  object-fit: cover;
}

.row-home {
  display: flex;
  align-items: stretch;
}