body {
  background-color: #F3F3F3;
  background-image: url('./assets/bg_squiggle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container-home {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 0rem;
}

.home-image {
  width: 100%;
  aspect-ratio: 4 / 2.5;
  overflow: hidden;
  margin: 0 auto;
  object-fit: cover;
}