.container-research {
  max-width: 65vw;
  margin: 0 auto;
  padding: 0 3rem;
  padding-top: 0rem;
}

.research-image-wrapper {
  width: 100%;
  aspect-ratio: 4 / 1;
  overflow: hidden;
}
.research-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.research-link {
    text-decoration: underline;
    cursor: pointer;
}

.link-col {
    align-self: end;
    padding-bottom: 1.5vh;
}